{% extends "base.html" %}

{% block main %}
   <h1>Detail of {{ object.name }}</h1>

   <img src="{{ object.image.url }}" />

   <form action="" method="POST">
      {% csrf_token %}
      Количество: 
      <button id="minus-btn">-</button>
      <input id="product-count" name="product_count" value=1 style="width: 40px" type="text" />
      <button id="plus-btn">+</button>


      <input class="btn btn-success" type="submit" value="Добавить в корзину" />
   </form>

   <script>
      const product_count = $('#product-count');
      // console.log(product_count.val())
      // product_count.val(4)
      const minus = $('#minus-btn');
      const plus = $('#plus-btn');
      minus.click(function(event) {
         event.preventDefault();
         if(parseInt(product_count.val())>1) {
            product_count.val(parseInt(product_count.val())-1);
         }
      });
      plus.click(function(event) {
         event.preventDefault();
         product_count.val(parseInt(product_count.val())+1);
      });      
   </script>

{% endblock %}