body {
	width: 960px;
	margin: 0 auto;	
	background-color: #d44;
	color: rgb(255,255,255);
	font-family: Verdana, Geneva, sans-serif;
}
h1{
	font-size: 2em;
	border-bottom: dotted 2px #fff;
	padding-bottom: 5px;
}
p{
	margin-bottom: 20px;
}
.subform{
	font-size: 1.1em;
	color: #fff;

}
.subform label{
	display: inline-block;
	width: 230px;
	vertical-align: top;
	text-align: left;
	margin-right: 10px;
	font-weight: bold;
}
.subform input[type="submit"]{
	margin-left: 246px;
	padding: 12px 24px;
	font-size: 1em;
	background: rgb(0, 106, 160);
	cursor: pointer;
	border-radius: 4px;
	box-shadow: 0 0 3px #fff;
	color: #fff;
}
.subform input[type="radio"]{
	margin-left:50px;
}
.subform input[type="text"], .subform input[type="Vib"], .subform textarea{
	border-radius:4px;
	border: none;
	background:#fff;
	color: red;
	box-shadow: 0 0 3px #fff;
	padding: 7px;
	width: 550px;
}
.subform input[type="text"]:focus, .subform input[type="email"]:focus, .subform textarea:focus{
	background: rgb(0, 106, 160);
	color:#000;
}